<h1>Trades REST API</h1>
<p>A spring-boot REST Interface to create, find all, find by ID and delete elements from a
SQL database table called <b>trade</b></p>
<a href="/swagger-ui.html">Swagger UI is here</a>